// MINI RESET
body
  font 18px 'Open Sans', sans-serif
  font-weight lighter

ul
  margin 0
  padding 0

li
  list-style none

a
  text-decoration none

h2, h5
  margin 0
  padding 0

*
  box-sizing border-box

p
  margin 0

.b
  font-weight bold

//MIXIN
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

button-decor()
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;

button-mixin(padd ,argm)
  padding padd
  color argm
  font-weight bold
  text-align center
  border-radius(7px)
  &:hover
    button-decor()


// PROJECT
.wrapper
  overflow hidden
  margin 0 auto
  width 975px

body
  color #fff
  background url("../img/header-bg.jpg")

.logo
  float left
  margin-top 30px
  overflow hidden
  display inline-block

.services
  margin 10px 0 20px 100px
  display inline-block
  li
    list-style-image url("../img/dervices-list-img.png")
    a
      color #fff
      font-size 13px
    &:hover
      font-weight bolder
      text-decoration underline

.our-contact
  display inline-block
  color #fff
  margin-left 100px


.wrap
  position relative
  margin 10px 10px 0 0
  display inline-block
  text-align right
  line-height 20px
  p
    font-size 16px
    span
      font-size 22px
      font-weight bold
  .call-us
    font-size 12px
  &:before
    content "- или -"
    position absolute
    display block
    top 30%
    right -50px
    font-size 12px
    color #62626b

.contact-button
  float right
  width 160px
  /*color #fff*/
  background #e35353
  font-size 15px
  margin-left 50px
  button-mixin(#000)
  box-shadow(0px 8px 0px #c74848)



.entry
  color #fff
  background url("../img/entry-bg.jpg") no-repeat fixed
  background-size cover

.entry-item
  float left
  padding 60px 0
  h2
    font-size 36px
    text-transform uppercase
  ul
    padding-left 30px
    font-size 25px
    li
      list-style-image url("../img/list-img.png")
  p
    font-size 32px
    text-transform uppercase
  a
    color #fff
    font-weight bold
    display inline-block
    margin-top 50px
    padding 20px
    border 1px solid #fff
    border-radius(7px)



.word-decoration
  background #f5e525
  color #000
  padding 0 10px

.consultation
  width 360px
  float right
  background rgba(20,23,78,.8)
  margin 40px 0
  border-radius(7px)
  text-align center
  h4
    text-transform uppercase
    width 200px
    font-size 23px
    display inline-block
  form
    margin-bottom 40px
    input
      color #000000
      font-weight bolder
      border 0
      border-radius(7px)
      padding 0 15px
      margin 5px 0
      width 270px
      height 55px
      opacity 0.65
      &:focus
        opacity 1
    input[type="submit"]
      background #f5e525
      opacity 1
      button-mixin()


.hot-deals
  h2
    text-align center
    text-transform uppercase
    span
      font-weight lighter
      text-transform uppercase
      display block
      text-align center


#items
  margin 0 auto
  text-align center
  overflow hidden
.item-list
  margin 0 20px
  width 263px
  height 355px
  float left
  display list-item
  border 4px solid #2f304b
  border-radius(8px)
  h1
    font-size 17px
  .price
    li
      line-height 40px
      display inline-block
      &:first-child
        font-size 25px
        color #e35353
        font-weight bold
  a
    background #f5e525
    border-radius(7px)
    button-mixin(0, 15px)



.container
  position relative
  width 950px
  margin 0 auto

.pagination
  text-align center
  li
    display inline-block
    margin-right 10px
    text-indent -8000px
    background url("../img/active-pages.png") no-repeat
    opacity 0.65
    width 19px
    height 19px
  .current
    background url("../img/active-pages.png")
    opacity 1
  .next
    background url("../img/slider-next.png") no-repeat
    position absolute
    top 20%
    text-indent -8000px
    right -90px
    height 190px
    width 130px
  .prev
    background url("../img/slider-prev.png") no-repeat
    position absolute
    top 20%
    text-indent -8000px
    left -60px
    height 190px
    width 130px

.support
  width 100%
  background  fixed url("../img/consultation-bg.jpg") no-repeat
  background-size cover
  padding 90px 0 0 0

.question
  text-align center
  display inline-block
  width 49%
  height 430px
  background url("../img/question.png") no-repeat
  background-size contain
  background-position 100% 50%
  ul
    margin-top 20px
    li
      line-height 50px
      text-indent -9000px
  p
    font-size 26px
    padding 10px 30px
    display inline-block
    text-transform uppercase
    font-weight bold
    background #e35353

.answer
  text-align center
  display block
  float right
  width 49%
  /*height 430px*/

  background-position 100% 50%
  .answer-title
    font-size 26px
    padding 10px 30px
    display inline-block
    text-transform uppercase
    font-weight bold
    background #f5e525
  .answer-content
    background url("../img/answer.png") no-repeat
    background-size contain
    padding 60px 0 150px 0
    margin-top 20px
    text-align center
    /*width 260px*/
    span
      display block
    a
      margin-bottom 125px
.why-choose-us
  color #000
  text-align center
  padding 90px 0
  background url("../img/choose-bg.jpg") no-repeat
  background-size cover
  h2
    text-align center
    text-transform uppercase
.advantages-title
  margin 0
  font-size 26px
  /*padding-top 15px*/
  background url("../img/advantages-title-bg.png") no-repeat
  /*background-size contain*/
  background-position center
  line-height 100px
  text-align center
  span
    font-weight bold
    display block
    -webkit-transform rotate(-8deg)
    -moz-transform rotate(-8deg)
    -o-transform rotate(-8deg)
    transform rotate(-8deg)

.advantages
  margin-top 20px
  text-align center
  overflow hidden
  width 100%
  li
    text-align left
    display inline-block
    width 49%
    margin-bottom 25px
    overflow hidden
    h5
      margin-bottom 10px
      overflow hidden
      font-size 20px
    p
      font-weight normal
      overflow hidden
      font-size 16px
.img-container
  position relative
  width 145px
  height 145px
  float left
  display block
  background #e35353
  border-radius(15px)
  margin-right 20px
  img
    position absolute
    top 0
    right 0
    left 0
    bottom 0
    margin auto
